.popup {
  display: flex;
  background-color: rgba(0, 0, 0, 50%);
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
