.popup__container_image {
  width: 816px;
  max-height: 540px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  background-color: transparent;
}

@media screen and (max-width: 1024px) {
  .popup__container_image {
    width: 433px;
  }
}

@media screen and (max-width: 768px) {
  .popup__container_image {
    width: 240px;
    max-height: 299px;
  }
}
