.footer {
  max-width: 880px;
  margin: 67px auto 60px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 282px;
    margin: 48px auto 36px;
  }
}
